html
  head
    style.
      body {
      background-color: black;
      }
      #photos {
            /* Prevent vertical gaps */
            line-height: 0;
            -webkit-column-count: 2;
            -webkit-column-gap:   0px;
            -moz-column-count:    2;
            -moz-column-gap:      0px;
            column-count:         2;
            column-gap:           0px;
      }
      #photos .box {
            /* Just in case there are inline attributes */
            height: 100% !important;
            width: auto !important;
      }
  body
    #photo
      each file in fileArray
        img.box(src='/public/' + file.path)
